name: Publish Extension

on:
  push:
    tags:
      - "v*.*.*" # Trigger on new version tags
  workflow_dispatch:

jobs:
  publish:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js with pnpm
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint code
        run: pnpm run lint

      - name: Check types
        run: pnpm run check-types

      - name: Build the extension
        run: pnpm run build

      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v1
        id: publishToOpenVSX
        with:
          pat: ${{ secrets.OVSX_PAT }}

      - name: Publish to VS Code Marketplace
        if: secrets.VSCE_PAT != ''
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VSCE_PAT }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ steps.publishToOpenVSX.outputs.vsixPath }}
